/out/
out/production/HelloWorld-Java/com/examples/helloseries/HelloWorld.class
out/production/HelloWorld-Java/com/examples/helloseries/MonkeyHello.class
out/production/HelloWorld-Java/com/examples/helloseries/MonkeyJumpersL1Loopy.class
out/production/HelloWorld-Java/com/examples/helloseries/MonkeyJumpersL2Classy.class